.App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #09d3ac;
  }

  .tree {
    height: 100%;
    width: 100%
  }

  .info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 80% !important;
    height: 80%;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .info-header, .info-section-header {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .info-header h1 {
    margin: 12px;
    font-size: 28px;
  }

  .info-section-header h2 {
    margin: 12px 12px 6px 12px;
    font-size: 24px;
  }

  .summary {
    margin: 0 12px 12px 12px;
    display: flex;
    justify-content: space-between;
  }

  .metric {
    display: flex;
    flex-direction: column;
  }

  .metric h1 {
    font-size: 44px;
  }

  .placeholder {
    margin-top: 50px;
    color: white;
  }

  .button {
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #3f51b5;
    color: #fff;
  }
  .button:hover {
    cursor: pointer;
  }
  .button:active {
    background-color: #1f2858;
  }
  .button.on {
    background-color: rgb(31, 152, 31);
  }

  .button.off {
    background-color: rgb(148, 17, 17);
  }

  .updateButton {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .instructions {
    color: #dadce0;
    margin: 10px;
    font-size: 12px;
  }

  .slider-container {
    margin: 0 12px 0 12px;
  }

  .slider-title {
    text-align: left;
  }

  .slider-results {
    text-align: left;
    padding-top: 25px;
  }
